/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* header start  */
    .navbar-brand-custom {
        width: 150px;
    }

    .menu ul li {
        text-align: right;
    }

    .menu ul li a {
        display: inline-block;
    }

    .dropdown-custom {
        text-align: right;
    }

    .dropdown-menu-custom {
        top: 45px;
        left: -73px;
        width: 10px;
        display: none !important;
    }

    .dropdown-menu-search {
        width: 10px;
        padding-right: 0px;
    }

    /* header end  */
    /* banner start */
    .banner {
        background-image: none;
    }

    .banner_content {
        background-color: #ffffff;
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0;
    }

    .banner_content h1 {
        font-size: 28px;
    }

    .scroll {
        padding-top: 15px;
    }

    .scroll_arrow img {
        height: 35px;
    }

    /* banner start */
    /* about start */
    .about {
        padding: 40px 0;
    }

    .common_title h1 {
        font-size: 25px;
    }

    .common_title hr {
        width: 120px;
        border-top: 3px dashed white;
    }

    .about_content p {
        font-size: 18px;
    }

    .about_content h2 {
        font-size: 22px;
    }

    .about_content hr {
        width: 120px;
        margin: 5px;
    }

    .memorable_button {
        font-size: 20px;
        padding: 5px 20px;
    }

    /* about end */
    /* activities start */
    .activities {
        padding: 50px 0;
    }

    .activities_single_text {
        font-size: 24px;
        letter-spacing: 4px;
        word-spacing: 2px;
        padding: 0 25px;
    }

    /* activities end*/
    /* courses start */
    .courses {
        padding: 50px 0;
    }

    .courses_title h1 {
        font-weight: 700;
        font-size: 28px;

    }

    /* courses end */
    /* memorable moment start */
    .memorable_button_wrapper {
        margin-top: 15px;
    }

    /* memorable moment end */
    /* teacher start */
    .teacher {
        padding: 40px;
    }

    .teacher_image {
        display: flex;
        justify-content: center;
    }

    .teacher_info {
        text-align: center;
        margin-top: 10px;
    }

    /* teacher end*/
    /* what we did start*/
    .what_we_did {
        padding: 40px 0;
    }

    /* counter start*/
    .what_we_did_title h1 {
        margin-bottom: 20px;
    }

    .counter {
        font-size: 50px;
    }

    .counter_text {
        font-size: 20px;
    }

    /* what we did end*/
    /* counter end*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header start  */
    .menu ul li {
        text-align: right;
    }

    .menu ul li a {
        display: inline-block;
    }

    .dropdown-custom {
        text-align: right;
    }

    .dropdown-menu-custom {
        top: 45px;
        left: 150px;
        width: 18rem;
    }

    /* header end  */
    /* activities start */
    .activities_single_text {
        font-size: 24px;
        letter-spacing: 2px;
        word-spacing: 2px;
    }

    .activities_single_text:last-child {
        letter-spacing: 4px;
    }

    /* activities end*/
    /* courses start */
    .courses {
        padding: 50px 0;
    }

    .courses_title h1 {
        font-weight: 700;
        font-size: 36px;

    }

    /* courses end */
    /* memorable moment start */
    .memorable_button_wrapper {
        margin-top: 20px;
    }

    /* memorable moment end */
    /* teacher start */
    .teacher {
        padding: 50px;
    }

    .teacher_image {
        display: flex;
        justify-content: center;
    }

    .teacher_info {
        text-align: center;
        margin-top: 10px;
    }

    /* teacher end*/
    /* what we did start*/
    .what_we_did {
        padding: 50px 0;
    }

    /* counter start*/
    .what_we_did_title h1 {
        margin-bottom: 20px;
    }

    .counter {
        font-size: 55px;
    }

    .counter_text {
        font-size: 24px;
    }

    /* what we did end*/
    /* counter end*/

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* header start  */
    .menu ul li {
        text-align: right;
    }

    .menu ul li a {
        display: inline-block;
    }

    .dropdown-custom {
        text-align: right;
    }

    .dropdown-menu-custom {
        top: 30px;
        left: 200px;
        width: 28rem;
    }

    /* header end  */
    /* banner start */
    .banner_content {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .scroll {
        margin-bottom: -15px;
    }

    /* banner end */
    /* about start */
    .common_title h1 {
        font-size: 25px;
    }

    .common_title hr {
        width: 150px;
        border-top: 4px dashed white;
    }

    .about_content h2 {
        font-size: 24px;
    }

    .about_content hr {
        width: 120px;
    }

    .memorable_button {
        font-size: 22px;
        padding: 10px 35px;
    }

    .about_content img {
        margin-top: 50px;
    }

    /* about end */
    /* activities start */

    .activities_single_text {
        font-size: 22px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }

    /* activities end*/
    /* memorable moment start */
    .memorable_button_wrapper {
        margin-top: 30px;
    }

    /* memorable moment end */
    /* teacher start */
    .teacher {
        padding: 60px;
    }

    .teacher_image {
        display: flex;
        justify-content: center;
    }

    .teacher_info {
        text-align: center;
        margin-top: 10px;
    }

    /* teacher end*/
    /* what we did start*/
    .what_we_did {
        padding: 60px 0;
    }

    /* counter start*/
    .what_we_did_title h1 {
        margin-bottom: 20px;
    }

    .counter {
        font-size: 55px;
    }

    .counter_text {
        font-size: 24px;
    }

    /* what we did end*/
    /* counter end*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}