/*
font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Sniglet', cursive;
*/
body {
    background-image: url(../images/body.png);
    font-family: 'Dosis', sans-serif;
    color: #333333;
}

/*header start*/
.header {
    background-color: #ffd338;
}

.menu ul li a {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    padding: 0 15px !important;
    border-radius: 15px;
    transition: .5s;
}

.menu ul li a:hover {
    background-color: #f05c5c;

}

.nav_logo {
    width: 200px;
}

.btn-user {
    color: white;
    margin-right: 5px;
    transition: .5s;
}

.btn-user:focus {
    outline: 0;
    box-shadow: none;
}

.btn-user:hover {
    color: #f05c5c;
}

.btn-search {
    color: white;
    transition: .5s;
}

.btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.btn-search:hover {
    color: #f05c5c;
}

.dropdown-menu-user {
    left: -268px;
    min-width: 20rem;
}

.dropdown-menu-search {
    top: 70px;
    left: -315px;
    min-width: 20rem;
    padding-right: 20px;
}

.sign_up_a {
    color: #ffd338;
    text-decoration: none !important;
    display: inline-block;
}

.sign_up_a:hover {
    color: #f05c5c;
}

/*header end*/
/* banner start */
.banner {
    background-image: url(../images/banner-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_content {
    margin-top: 300px;
    margin-bottom: 300px;
}

.banner_content h1 {
    font-weight: 800;

}

.scroll {
    padding-top: 160px;
}

.scroll p {
    font-family: 'Lato',
        sans-serif;
    color: #bbbbbb;
}

/* banner end */
/* about start */
.about {
    padding: 80px 0;
}

.common_title {
    margin-bottom: 30px;

}

.common_title h1 {
    font-weight: 700;
    font-size: 30px;
}

.common_title hr {
    width: 250px;
    border-top: 5px dashed white;
    box-shadow: 0px 4px 6px #8c8c8c;
}

.about_content {
    padding-top: 30px;
}

.about_content p {
    font-size: 18px;
}

.about_content hr {
    display: inline-block;
    border: none;
    width: 175px;
    height: 4px;
    background-color: #dddddd;
}

.about_content a,
.memorable_button {
    font-weight: 700;
    font-size: 24px;
    color: #f05c5c;
    text-transform: uppercase;
    padding: 15px 55px;
    border-radius: 30%;
    clip-path: polygon(244% 555%, -825% -197%, 159% 103%, -112% 75%, 82% -31%);
    background-color: #fff;
    box-shadow: 5px 5px #3333;
}

.about_image img {
    border-radius: 15px;
}

/* about end */
/* activities start */
.activities {
    background-image: url(../images/activities_bg.png);
    padding: 80px 0;
}

.activities_title h1 {
    text-shadow: 2px 1px white;
}

.activities_title hr {
    border-radius: 25px;
    box-shadow: none;
}

.activities_single_wrapper {
    position: relative;
    margin-top: 30px;
}

.activities_image_bg {
    width: 115px;
}

.activities_single_image_top img {
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: -5px;
    right: 0;
    margin: auto;
}

.activities_single_text {
    font-weight: 700;
    font-size: 28px;
    color: white;
    margin-top: 20px;
    letter-spacing: 3px;
    word-spacing: 2px;
}

/* activities end*/
/* courses start */
.courses {
    padding: 80px 0;
}

/* card start */

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-custom {
    border-radius: 25px;
}

.card-header-custom {
    background-color: #1ec0ff;
    padding: 5px 15px;
}

.header-text {
    font-family: 'Lato',
        sans-serif;
    color: #fff;
    padding: 5px 5px;
}

.math_text_color {
    color: #56d47e !important;
}

.math_bg_color {
    background-color: #56d47e !important;
}

.science_text_color {
    color: #f05c5c !important;
}

.science_bg_color {
    background-color: #f05c5c !important;
}

.environmental_text_color {
    color: #ffd338 !important;
}

.environmental_bg_color {
    background-color: #ffd338 !important;
}

.card-block {
    font-size: 1em;
    height: 180px;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    color: #1ec0ff;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2857em;
}

.card-text {
    font-family: 'Lato',
        sans-serif;
    clear: both;
    margin-top: .5em;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75rem 0.8rem;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    color: #fff;
    position: absolute;
    top: -25px;
    right: 15px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: #1ec0ff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.price_tag_price {
    font-weight: 700;
    font-size: 18px;
    right: 15px;
    display: block;
    margin-top: 3px;
}

.price_tag_text {
    font-family: 'Lato',
        sans-serif;
    font-weight: 300;
    margin-top: -8px;
}

.card_footer_divider {
    padding: 0 2px;
}

/* card end */

.courses_button_wrapper {
    margin-top: 50px;
}

.courses_button {
    font-size: 22px;
    width: 100%;
    color: #fff;
    background-color: #56d47e;
    border-radius: 15px;
}

/* courses end*/
/* memorable moment start */
.text_shadow {
    text-shadow: 2px 1px white;
}

.memorable_moment_content {
    padding: 15px 0;
}

.memorable_button_wrapper {
    margin-top: 40px;
}

.memorable_moment_image {
    transition: .5s;
    overflow: hidden;
}

.memorable_moment_image:hover {
    transform: scale(1.1);
}

/* memorable moment end */
/* teacher start */
.teacher {
    padding: 80px 0;
}

.giratweets_content {
    font-family: 'Lato',
        sans-serif;
    text-align: center;
}

.giratweets_icon {
    font-size: 60px;
    margin: 0;
    color: #1ec0ff;

}

.giratweets_link {
    font-size: 18px;
    color: #1ec0ff;
}

.giratweets_quote {
    color: #333333;
    margin: 20px 0;
}

.giratweets_hashtag {
    color: #1ec0ff;
}

.teacher_title {
    margin: 50px 0;
}

.teacher_title h1 {
    margin-bottom: 30px;
}

/* teacher single start */
.teacher_single {
    margin: 15px 0;
}

.teacher_info {
    margin-top: 5px;
}

.teacher_image {
    transition: 1s;
}

.teacher_image img {
    border-radius: 15px;
    display: block;
    transition: 1s;
}

.teacher_image:hover {
    transform: scale(1.05);

}

.teacher_name {
    font-weight: 700 !important;
    color: #1ec0ff;
}

.teacher_s_icon li a {
    font-size: 20px;
}

.teacher_s_icon li a i {
    transition: .1s;
}

.teacher_s_icon li a i:hover {
    transform: translate(0px, -3px) scale(1.3);
}

.teacher_info h5 {
    font-weight: 700 !important;
    display: inline-block;
    border-bottom: 2px solid #333333;
}

.fb_icon {
    color: #3b5998;
}

.twitter_icon {
    color: #1ec0ff;
}

.google_icon {
    color: #db3236;
}

.tumbler_icon {
    color: #34526f;
}

/* teacher single start */

/* teacher end*/
/* what we did start */
.what_we_did {
    padding: 80px 0;
    background-image: url(../images/what_we_do.jpg);
}

.what_we_did_title h1 {
    margin-bottom: 30px;
}

/* counter start */
.single_content {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin: 0;
}

.counter_image {
    margin-top: -15px;
}

.counter_text {
    font-size: 28px;
}

/* counter end*/

/* what we did end*/
/* blog start */
.blog {
    padding: 80px 0;
}

/* first column single start */
.event_details {
    margin: 15px 0;
}

.event_date_wrapper {
    display: flex;
    justify-content: flex-end;
}

.event_date {
    width: 85px;
    height: 85px;
    background-color: #1ec0ff;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

.event_date h2 {
    font-weight: 700;
    font-size: 45px;
}

.event_date p {
    margin: 0;
}

.event_title {
    margin-top: 10px;
}

.event_title h2 {
    font-weight: 700;
    font-size: 24px;
}

.event_clock_icon {
    margin-right: 5px;
    color: #1ec0ff;
}

.event_time {
    font-family: 'Lato',
        sans-serif;
    color: #1ec0ff;
}

.event_register {
    color: #fb9130;
    text-decoration: underline;
}

.event_register:hover {
    color: #b45703;
}


/* first column single start */
/* second column single start */
.second_col_sin_image img {
    border-radius: 15px;
}


.news_details h2 {
    font-weight: 700;
    font-size: 24px;
}

.news_hr {
    margin: 10px 0;
    background: transparent;
    border-top: 5px dotted;
}

.border_blue {
    border-color: #1ec0ff;
}

.border_green {
    border-color: #56d47e;
}

.text_green {
    color: #56d47e;
}

.border_red {
    border-color: #f05c5c;
}

.text_red {
    color: #f05c5c;
}

.border_yellow {
    border-color: #ffc852;
}

.text_yellow {
    color: #ffc852;
}

.news_cal_icon {
    margin-right: 5px;
}

.news_details {
    margin-top: 5px;
}

/* second column single end */
/* blog end*/
/* contact start */
.contact {
    font-family: 'Lato',
        sans-serif;
    background-color: #ffffff;
    padding: 80px 0;
}

.contact_single_wrapper {
    margin-top: 15px;
}

/* first column start */
.contact_logo {
    margin-top: -20px;
}

.contact_first_column_text {
    margin-top: 5px;
}

.blue_text {
    color: #1ec0ff;
}

.check_icon {
    margin-right: 10px;
}

.insta_img_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.insta_img {
    flex: 0 0 33.333333%;
}

.insta_img img {
    padding: 10px;
}

/* first column start */
/* second column start */

/* second column start */
.contact_third_col_icon {
    margin-right: 10px;
}

.column_fourth_title h2,
.font_24 {
    font-size: 24px;
}

.form-control-custom {
    border-right: none !important;
}

.input-group-text-custom {
    background-color: transparent !important;
    border-left: none;
}

.input-group-text-custom button {
    color: #cccccc;
}

.contact_social_icon {
    font-size: 20px;
    color: #cccccc;
}

.contact_social_icon li {
    margin: 0 10px;
}

/* contact end*/
/* footer start */
.footer {
    padding: 20px 0;
    background-color: #ffd338;
    color: #ffffff;
}

.footer_menu li a {
    font-family: 'Lato',
        sans-serif;
    color: #ffffff;
}

.footer_second_column_content {
    text-align: right;
}

/* footer end*/