/*
font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Sniglet', cursive;
*/
body {
    background-image: url(../images/body.png);
    font-family: 'Dosis', sans-serif;
    color: #333333;
}

/*header start*/
.header {
    background-color: #ffd338;
}

.menu ul li a {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    padding: 0 15px !important;
    border-radius: 15px;
    transition: .5s;
}

.menu ul li a:hover {
    background-color: #f05c5c;

}

.btn-user {
    color: white;
    margin-right: 5px;
    transition: .5s;
}

.btn-user:focus {
    outline: 0;
    box-shadow: none;
}

.btn-user:hover {
    color: #f05c5c;
}

.btn-search {
    color: white;
    transition: .5s;
}

.btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.btn-search:hover {
    color: #f05c5c;
}

.dropdown-menu-user {
    left: -268px;
    min-width: 20rem;
}

.dropdown-menu-search {
    top: 70px;
    left: -315px;
    min-width: 20rem;
    padding-right: 20px;
}

.sign_up_a {
    color: #ffd338;
    text-decoration: none !important;
    display: inline-block;
}

.sign_up_a:hover {
    color: #f05c5c;
}

/*header end*/
/* banner start */
.banner {
    background-image: url(../images/banner-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_content {
    margin-top: 300px;
    margin-bottom: 300px;
}

.banner_content h1 {
    font-weight: 800;

}

.scroll {
    padding-top: 160px;
}

.scroll p {
    font-family: 'Lato',
        sans-serif;
    color: #bbbbbb;
}

/* banner end */
/* about start */
.about {
    padding: 80px 0;
}

.common_title {
    margin-bottom: 30px;

}

.common_title h1 {
    font-weight: 700;
    font-size: 30px;
}

.common_title hr {
    width: 250px;
    border-top: 5px dashed white;
    box-shadow: 0px 4px 6px #8c8c8c;
}

.about_content {
    padding-top: 30px;
}

.about_content p {
    font-size: 18px;
}

.about_content hr {
    display: inline-block;
    border: none;
    width: 175px;
    height: 4px;
    background-color: #dddddd;
}

.about_content a,
.memorable_button {
    font-weight: 700;
    font-size: 24px;
    color: #f05c5c;
    text-transform: uppercase;
    padding: 15px 55px;
    border-radius: 30%;
    clip-path: polygon(244% 555%, -825% -197%, 159% 103%, -112% 75%, 82% -31%);
    background-color: #fff;
    box-shadow: 5px 5px #3333;
}

.about_image img {
    border-radius: 15px;
}

/* about end */
/* activities start */
.activities {
    background-image: url(../images/activities_bg.png);
    padding: 80px 0;
}

.activities_title h1 {
    text-shadow: 2px 1px white;
}

.activities_title hr {
    border-radius: 25px;
    box-shadow: none;
}

.activities_single_wrapper {
    position: relative;
    margin-top: 30px;
}

.activities_image_bg {
    width: 115px;
}

.activities_single_image_top img {
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: -5px;
    right: 0;
    margin: auto;
}

.activities_single_text {
    font-weight: 700;
    font-size: 28px;
    color: white;
    margin-top: 20px;
    letter-spacing: 3px;
    word-spacing: 2px;
}

/* activities end*/
/* courses start */
.courses {
    padding: 80px 0;
}

/* card start */

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-custom {
    border-radius: 25px;
}

.card-header-custom {
    background-color: #1ec0ff;
    padding: 5px 15px;
}

.header-text {
    font-family: 'Lato',
        sans-serif;
    color: #fff;
    padding: 5px 5px;
}

.math_text_color {
    color: #56d47e !important;
}

.math_bg_color {
    background-color: #56d47e !important;
}

.science_text_color {
    color: #f05c5c !important;
}

.science_bg_color {
    background-color: #f05c5c !important;
}

.environmental_text_color {
    color: #ffd338 !important;
}

.environmental_bg_color {
    background-color: #ffd338 !important;
}

.card-block {
    font-size: 1em;
    height: 180px;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    color: #1ec0ff;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2857em;
}

.card-text {
    font-family: 'Lato',
        sans-serif;
    clear: both;
    margin-top: .5em;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75rem 0.8rem;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    color: #fff;
    position: absolute;
    top: -25px;
    right: 15px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: #1ec0ff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.price_tag_price {
    font-weight: 700;
    font-size: 18px;
    right: 15px;
    display: block;
    margin-top: 3px;
}

.price_tag_text {
    font-family: 'Lato',
        sans-serif;
    font-weight: 300;
    margin-top: -8px;
}

.card_footer_divider {
    padding: 0 2px;
}

/* card end */

.courses_button_wrapper {
    margin-top: 50px;
}

.courses_button {
    font-size: 22px;
    width: 100%;
    color: #fff;
    background-color: #56d47e;
    border-radius: 15px;
}

/* courses end*/
/* memorable moment start */
.text_shadow {
    text-shadow: 2px 1px white;
}

/* memorable moment end */